<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--头文件开始-->
    <link rel="stylesheet" type="text/css" href="http://picbaidu.9155.cn/1000/ytdy/images/style.css">
    <link href="http://picbaidu.9155.cn/1000/ytdy/js/reset.css" rel="stylesheet">
    <link href="http://picbaidu.9155.cn/1000/ytdy/js/style_new.css" rel="stylesheet">
    <script src="http://picbaidu.9155.cn/1000/ytdy/js/creathead_d02.js"></script>
    <script src="http://picbaidu.9155.cn/1000/ytdy/js/jquery.js"></script>
    <!--头文件结束-->
    <style>
        #ad img {
            width: 100%;
            height: 100%;
        }
        #header {
            width: 100%;
            margin-bottom: 10px;
        }
    </style>
    <script>
        img.onclick=function(){
            return false;
        }
    </script>
  </head>
  <body>
    <div id="ad">
       <img src="ad.png"> 
    </div>
  </body>
</html>
