.h-content {
    height: auto;
    width: 1920px;
}

.h-swiper {
    height: 768px;
    width: auto;
    /* width: auto; */
    /* background-color: skyblue; */
    /* border: gray 1px solid; */
    /* background-image: url("../image/home-swiper.jpg") */
}

.swiper-img {
    width: 1920px;
    height: auto;
}

.h-wecando {
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 61px; */
    background: #FFF7F7;
    padding-top: 61px;
    padding-bottom: 88px;
}

.h-wecando .box {
    /* background-color: gray; */
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 54px;
}

.h-wecando .top {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    justify-content: space-around;
}

.h-wecando .top .left {
    width: 520px;
    height: 504px;
    margin-right: 23px;
    /* background-color: forestgreen; */
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    /* justify-content: center; */
    align-items: center;
}

.h-wecando .top .left .img {
    width: 520px;
    height: 327px;
    background-image: url("../image/home/about.png");
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.h-wecando .top .left .content {
    height: 185px;
    padding: 15px;
}

.h-wecando .top .left .content .title {
    word-spacing: 28px;
}

.h-wecando .top .left .content .text {
    word-spacing: 28px;
    font-size: 16px;
    margin-top: 9px;
}


.h-wecando .top .right {
    width: 520px;
    height: 504px;
    /* background-color: forestgreen; */
    
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    justify-content: space-around;
}

.h-wecando .top .right .tttt {
    width: 520px;
    height: 248px;
    /* background-color: dimgray; */
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    justify-content: space-around;
    background-image: url("../image/home/chayi .png");
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.h-wecando .top .right .tttt .l {
    width: 260px;
    height: 248px;
}

.h-wecando .top .right .tttt .r {
    width: 260px;
    height: 248px;
    background-color: white;
    opacity: 0.6;
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    justify-content: center;
}

.h-wecando .top .right .tttt .r p {
    margin-left: 31px;
}

.h-wecando .top .right .tttt .r div {
    margin-left: 31px;
}

.h-wecando .top .right .bbbb {
    width: 520px;
    height: 248px;
    background-image: url("../image/home/ruanoubao.png");
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 10px;
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    transition-duration: 0.7s;
}

.h-wecando .top .right .bbbb .l {
    width: 260px;
    height: 248px;
}

.h-wecando .top .right .bbbb .r {
    width: 260px;
    height: 248px;
    background-color: #fff;
    opacity: 0.6;
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    justify-content: center;
}

.h-wecando .bottom {
    width: 1060px;
    height: 240px;
    margin-top: 20px;
    background-image: url("../image/home/wecando-b.png");
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    justify-content: space-around;
}

.h-wecando .bottom .blank {
    width: 530px;
}

.h-wecando .bottom .info {
    width: 530px;
    height: 240px;
    background-color: white;
    opacity: 0.6;
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 64px; */
    padding-left: 24px;
    padding-right: 24px;
}

.h-wecando .bottom .info .title {
    word-spacing: 28px;
    font-size: 20px;
    /* margin-top: 64px; */
}

.h-wecando .bottom .info .content {
    margin-top: 10px;
    word-spacing: 28px;
    font-size: 16px;
}

.h-products {
    display: flex;
    display: -webkit-flex;
    background: #F7FFFF;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 873px;
}

.h-products .product-series {
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.h-products .product-series .product-swiper {
    width: 900px;
    /* background-color: deepskyblue; */
    height: 265px;
    margin-top: 42px;
    margin-bottom: 61px;
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    justify-content: space-between;
}

.h-products .product-series .product-swiper .p1 {
    background-image: url("../image/home/p01.jpg");
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 220px;
    height: 220px;
}


.h-products .product-series .product-swiper .p2 {
    background-image: url("../image/home/p02.jpg");
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 220px;
    height: 220px;
}

.h-products .product-series .product-swiper .p3 {
    background-image: url("../image/home/p03.jpg");
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 220px;
    height: 220px;
}

.h-products .product-series .product-swiper .p4 {
    background-image: url("../image/home/p04.jpg");
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 220px;
    height: 220px;
}

.h-products .product-series .product-swiper .r1 {
    background-image: url("../image/home/r01.jpg");
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 220px;
    height: 220px;
}

.h-products .product-series .product-swiper .r2 {
    background-image: url("../image/home/r02.jpg");
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 220px;
    height: 220px;
}

.h-products .product-series .product-swiper .r3 {
    background-image: url("../image/home/r03.jpg");
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 220px;
    height: 220px;
}

.h-products .product-series .product-swiper .r4 {
    background-image: url("../image/home/r04.jpg");
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 220px;
    height: 220px;
}

.h-store-distribution {
    height: 792px;
    background: #FFFEF7;
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 59px;
    display: none;
}

.h-store-distribution .mapbox {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    margin-top: 40px;
}

.h-store-distribution .mapbox .map {
    width: 581px; 
    height: 484px;
    background-color: darkviolet;
}

.h-store-distribution .mapbox .alalytics {
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    justify-content: space-around;
}

.h-store-distribution .mapbox .alalytics .item {
    /* height: 60px;
    width: 240px; */
    margin-left: 110px;
    /* margin-bottom: 40px; */
    /* background-color: darkseagreen; */
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
}

.h-store-distribution .mapbox .alalytics .item .icon {
    height: 60px;
    width: 60px;
    background-color: darkcyan;
    margin-right: 32px;

}

.h-store-distribution .mapbox .alalytics .item .text .name{
    margin-bottom: 10px;
}

.h-store-distribution .mapbox .alalytics .item .text .number {
    color: #FA6C05;
}

.h-store-distribution .desc {
    margin-top: 44px;
    font-size: 16px;
    width: 990px;
}

.h-cooperation-process {
    height: 560px;
    background: #FFF7F7;
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 65px;
    
}

.h-cooperation-process .process-list {
    margin-top: 62px;
    display: flex;
    display: -webkit-flex;    
    flex-flow: row;
    justify-content: space-around;
    width: 972px;
    /* border: skyblue solid 1px; */
    margin-bottom: 160px;
}

.h-cooperation-process .process-list .process-item {
    /* width: 120px;
    height: 120px; */
    /* background-color: cyan; */
    /* margin-right: 58px; */
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
}

.h-cooperation-process .process-list .process-item .avator01 {
    width: 120px;
    height: 120px;
    /* background-color: skyblue; */
    border-radius: 50%;
    background-image: url("../image/home/flow01.png")
    /* background-image: url("../image/logo.svg") */
}

.h-cooperation-process .process-list .process-item .avator02 {
    width: 120px;
    height: 120px;
    /* background-color: skyblue; */
    border-radius: 50%;
    background-image: url("../image/home/flow02.png")
}

.h-cooperation-process .process-list .process-item .avator03 {
    width: 120px;
    height: 120px;
    /* background-color: skyblue; */
    border-radius: 50%;
    background-image: url("../image/home/flow03.png")
}

.h-cooperation-process .process-list .process-item .avator04 {
    width: 120px;
    height: 120px;
    /* background-color: skyblue; */
    border-radius: 50%;
    background-image: url("../image/home/flow04.png")
}



.h-cooperation-process .process-list .process-item .avator05 {
    width: 120px;
    height: 120px;
    /* background-color: skyblue; */
    border-radius: 50%;
    background-image: url("../image/home/flow05.png")
}



.h-cooperation-process .process-list .process-item .avator06 {
    width: 120px;
    height: 120px;
    /* background-color: skyblue; */
    border-radius: 50%;
    background-image: url("../image/home/flow06.png")
}



.h-cooperation-process .process-list .process-item .text {
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    align-items: center;
    width: 119px;
    height: 48px;
}

.h-cooperation-process .process-list .process-item .text .title {
   font-size: 20px; 
   margin-top: 30px;
   margin-bottom: 8px;
}

.h-cooperation-process .process-list .process-item .text .desc {
    font-size: 14px; 
    margin-bottom: 46px;
 }

.h-cooperation-process .detail {
    font-size: 16px;
    width: 160px;
    height: 60px;
    /* background: #FFFFFF; */
    border: 1px solid #554c4c;
    cursor: pointer;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}


.h-cooperation-process .detail:hover {
    font-size: 16px;
    width: 160px;
    height: 60px;
    /* background: #FFFFFF; */
    border: 1px solid #FFF7F7;
    cursor: pointer;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    color: #FA6C05;
    /* background-color: #FA6C05; */
    background-color: transparent;
    border-color: #FA6C05;
}

.h-cooperation-process .detail:focus {
    font-size: 16px;
    width: 160px;
    height: 60px;
    /* background: #FFFFFF; */
    border: 0px solid #303030;
    outline: none;
}

.h-aboutus {
    height: 740px;
    background: #F7FFFF;
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.h-aboutus .content {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
}

.h-aboutus .content .text {
    width: 486px;
}

.h-aboutus .content .text p {
    word-spacing: 28px;
}

.h-aboutus .content .text .title {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 33px;
}

.h-aboutus .content .coperation-introduce {
    width: 457px;
    height: 547px;
    /* background-color: skyblue; */
    background-image: url("../image/home/company.png");
    margin-left: 114px;
    margin-top: 30px;
}


.h-news {
    height: 629px;
    background: #FFFEF7;
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.h-news .news-list {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 1059px;
    margin-top: 57px;
}

.h-news .news-list .news-item {
    width: 317px;
    height: 420px;
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: skyblue; */
}

.h-news .news-list .news-item .img01 {
    width: 317px;
    height: 220px;
    background-image: url("../image/home/new01.png");
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.h-news .news-list .news-item .img02 {
    width: 317px;
    height: 220px;
    background-image: url("../image/home/new02.png");
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.h-news .news-list .news-item .img03 {
    width: 317px;
    height: 220px;
    background-image: url("../image/home/new03.png");
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.h-news .news-list .news-item .title {
    margin-top: 23px;
}

.h-news .news-list .news-item .content {
    margin-top: 11.1px;
    /* font-size: 16px;
color: #585755;
letter-spacing: 0; */
font-size: 16px;
color: #585755;
letter-spacing: 0;
line-height: 28px;
}

.h-news .news-list .news-item .b {
    /* margin-top: 11.1px; */
    margin-top: 15.9px;
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    width: 317px;
    justify-content: center;
}

.h-news .news-list .news-item .b .count img {
    width: 22px;
    margin-left: 45px;
}

.h-news .news-list .news-item .b .num {
    margin-left: 5px;
}

.h-contact-us {
    background-image: url("../image/home/mapbg.png");
}

.h-contact-us-img {
    background: rgba(255,255,255,0.96);
    height: 545px;
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.h-contact-us .section {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    height: 280px;
    margin-top: 64px;
}

.h-contact-us .section .roadmap {
    width: 584px;
    /* height: 280px; */
    /* background-color: skyblue; */
    background-image: url("../image/home/map.png");
    cursor: pointer;
}

.h-contact-us .section .phonenumber {
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    margin-top: 64px;
    margin-left: 62px;
    /* height: 280px; */
}
